.page-main__promo {
  background-color: $bg-light-main-color;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: calc(50% + 115px) calc(50% - 115px);
    width: 100%;
    min-height: 714px;
    margin: 0;
    padding: 0;

    background-color: $bg-light-secondary-color;
  }
}

.page-main__title {
  margin-bottom: 50px;

  font-weight: 900;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }

  span {
    color: $font-yellow-color;
  }
}

.page-main__popular {
  padding-top: 40px;
  padding-bottom: 50px;

  background: linear-gradient(90deg, $bg-primary-72 0%, $bg-primary-55 100%, $bg-primary 100%);

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }
}


.page-main__popular-list {
  @include list-reset;

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.page-main__popular-item {
  margin-bottom: 34px;

  line-height: normal;

  &:nth-child(2n + 1) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &:nth-child(n) {
      display: block;
    }

    &:nth-child(3n + 1) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n) {
      display: block;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.page-main__popular-show-all-button {
  display: block;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 360px;
    margin: 0 auto;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.page-main__furniture {
  margin-bottom: 100px;

  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 116px;
  }
}

.page-main__furniture-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 30px;
  }
}
