.site-nav ul {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    column-gap: 20px;
    row-gap: 20px;
  }
}

.site-nav li {
  margin-bottom: 25px;

  color: $font-main-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &:hover {
      color: $font-green-color;
    }
  }

  &.current-menu-item {
    border-bottom: 2px solid $bg-primary;
  }

  &:active {
    opacity: 0.7;
  }
}

.site-nav a {
  display: block;

  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}
